# APP
APP_ENV="development" # development | production
APP_NAME="Comtable"
APP_LOCALE="fr-FR"

# DATABASE
DB_HOST="db"
DB_PORT="5432"
DB_USERNAME="comtable"
DB_PASSWORD="comtable"
DB_DATABASE="comtable"

# AUTH
AUTH_SECRET="^$51%6!x_a3owns3a@e7v_$$c#hzcbmju25+zlg)=guk80o_49"
AUTH_SECRET_EXPIRE_IN="60s"